<!--CONTENEDOR DE SLIDER -->
<div class="slider-container">
  <h1 class="slider-text">Name of rocket:</h1>
  <div  class="slider">
    <select class="form-select" aria-label="Default select example" (change)="selectChangeHandler($event)">
      <option selected>Select a rocket</option>
      <option *ngFor="let rocket of rockets_slider" value="{{rocket.rocket_id}}">{{rocket.name}}</option>
    </select>
  </div>
</div>

<!-- TITULO TABLA 1 -->
<div class="title-container">
  <div class="title">
    <h1 class="text-center">Consulta 1: Costo total de lanzamiento</h1>
  </div>
</div>

<!-- Contenedor de tabla -->
<div class="table-container">
  <table class="table table-hover" id="consulta_susp">
    <thead class="table-secondary">
      <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Name</th>
          <th scope="col">Launch Name</th>
          <th scope="col">Launch Pad Name</th>
          <th scope="col">Total cost</th>
          <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="rockets.length>0; else elseTemplate">
        <tr *ngFor="let elem of rockets; let indice=index">
          <td>{{elem.RocketName}}</td>
          <td>{{elem.LaunchName}}</td>
          <td>{{elem.LaunchPadName}}</td>
          <td>{{elem.SUMA | currency:'USD'}}</td>
          <td>{{elem.region}}</td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr>
          <td colspan="5">ERROR: {{error1}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!-- TITULO TABLA 2 -->
<div class="title-container">
  <div class="title">
    <h1 class="text-center">Consulta 2: Misiones de un cohete</h1>
  </div>
</div>

<!-- Contenedor de tabla -->
<div class="table-container">
  <table class="table table-hover" id="consulta_susp">
    <thead class="table-secondary">
      <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Mission Name</th>
          <th scope="col">Rocket Name</th>
          <th scope="col">Launch Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="rockets2.length>0; else elseTemplate2">
        <tr *ngFor="let elem of rockets2; let indice=index">
          <td >{{elem.MissionName}}</td>
          <td >{{elem.RocketName}}</td>
          <td >{{elem.LaunchStatus}}</td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate2>
        <tr>
          <td colspan="5">ERROR: {{error2}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!-- TITULO TABLA 3 -->
<div class="title-container">
  <div class="title">
    <h1 class="text-center">Consulta 3: Los cohetes y las cargas</h1>
  </div>
</div>

<!-- Contenedor de tabla -->
<div class="table-container">
  <table class="table table-hover" id="consulta_susp">
    <thead class="table-secondary">
      <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Rocket Name</th>
          <th scope="col">Mission Name</th>
          <th scope="col">Payload Name</th>
          <th scope="col">Payload Type</th>
          <th scope="col">Payload Orbit</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="rockets3.length>0; else elseTemplate3">
        <tr *ngFor="let elem of rockets3; let indice=index">
          <td >{{elem.RocketName}}</td>
          <td >{{elem.MissionName}}</td>
          <td >{{elem.PayloadName}}</td>
          <td >{{elem.PayloadType}}</td>
          <td >{{elem.PayloadOrbit}}</td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate3>
        <tr>
          <td colspan="5">ERROR: {{error3}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
